# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Deploy release

on:
  release:
    types: [prereleased, released]

jobs:
  deploy:
    name: Publish release to PyPI
    runs-on: ubuntu-22.04
    environment:
      name: pypi
      url: https://pypi.org/p/compal-wifi-switch
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v5

    - name: Get the version
      id: get_version
      run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT

    - name: Set version in code
      run: |
        sed -i 's/$version/${{ steps.get_version.outputs.VERSION }}/g' setup.py

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel

    - name: Build package
      run: |
        python setup.py sdist bdist_wheel
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_PASSWORD }}
